:root{
    --ol-white: #FFFFFF;
    --ol-lighter-purple: #E0E0FF;
    --ol-light-purple: #F9F9FF;
    --ol-purple: #A29BFE;
    --ol-deep-purple: #6C5CE7;
}

.olivia-over {
    position: fixed;
    z-index: 2147483647 !important;
    top: 40px; /* Leave room for the mascot popping out the top */
    left: 40px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: box-shadow 0.3s;
    animation: olivia-slide-up 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;

}

@keyframes olivia-slide-up {
    from {
        opacity: 0;
        transform: translateY(30px); /* Start 30px lower */
    }
    to {
        opacity: 1;
        transform: translateY(0);    /* End at original position */
    }
}

/* .olivia-over:hover{
    box-shadow: 0 12px 24px rgba(0,0,0,0.2);
} */

#olivia-header {
    background: var(--ol-purple);
    color: var(--ol-white);
    padding: 10px 15px;
    border-radius: 24px 24px 0 0;
    /* cursor: move; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    /* border: solid 1px; */
}

#olivia-mascot {
    /* height: 64px; */
    width: 25%;
    pointer-events: none; /* Mouse goes through mascot to the header */
    margin-bottom: 10px;

    /* border: solid 1px; */
}

.olivia-title {
    font-weight: 800;
    font-size: 16px;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    /* border: solid 1px; */
}

#olivia-body {
    flex: 1;
    background: var(--ol-light-purple);
    border-radius: 0 0 26px 26px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

#olivia-results {
    background: var(--ol-white);
    border-radius: 20px;
    padding: 20px;
    color: #2D3436;
    font-size: 16px; /* Larger font for better readability */
    line-height: 1.6;
    border: 2px solid var(--ol-lighter-purple);
    overflow-y: auto;
}

#olivia-status {
    font-weight: bold;
    color: var(--ol-deep-purple);
    margin-bottom: 5px;
    height: 20px;
}

/* Close Button */
#olivia-close {
    font-size: 20px;
    line-height: 1;
    opacity: 0.7;
    transition: opacity 0.2s;
}

#olivia-close:hover {
    cursor: default;
    opacity: 1;
    color: #ff4d4d;
}

#btn-resumir {
    height: 30px;
    background-color: var(--ol-deep-purple);
    color: var(--ol-light-purple);
    border: 2px solid var(--ol-lighter-purple);
    border-radius: 15px;
    transition: background-color 1s ease;
}

#btn-resumir:hover {
    background-color: var(--ol-purple);
    cursor: pointer;
}